* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #9BBBBB;;
}
header{
    padding: 0 20px;
    height: 5vh;
    background-color: #598080;
}
nav {
    height: 100%;
    display: flex;
    align-items: center;
}
nav ul li {
    margin-right: 20px;
    height: 100%;
    display: inline-block;
}
nav ul li a{
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}
nav ul li:hover{
    background-color: black;
    
}
footer {
    color: white;
    background-color: #598080;
    height: 15vh;
    padding: 15px 20px;
}
footer ul {
    list-style-type: none;
}

footer ul li {
    margin-bottom: 1%;
}
footer ul li:first-child {
    font-size: 25px;
}
.content {
    background-color: #9BBBBB;;
    width: 100%;
    min-height: 80vh;
    padding: 40px;
}
.row {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.item {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
    text-align: center;
    width: 23%;
    background-color: white;
}
.item-content {
    display: flex;
    column-gap: 10px;
}
/* VARANT 1 --------------------------------------------------- */
.variant-1 {
    flex-direction: column;
    row-gap: 20px;
}
.variant-1 .item-image {
    width: 50%;
}
/* VARANT 2 --------------------------------------------------- */
.variant-2 {
    column-gap: 10px;
}
.variant-2 div{
    flex: 1 1 calc(50% - 10px);
}
.variant-2 .item-title {    
    flex: 1 1 100%;
}
/* VARANT 3 --------------------------------------------------- */
.variant-3 {
    flex-direction: column;
}
/* VARANT 4 --------------------------------------------------- */
.variant-4 {
    flex-direction: column;
    row-gap: 20px;
}
.item-content .red-wrapper {
    width: 50%;
    background-color: red;
}
.selected-page-image-wrapper {
    width: 30%;
}
.selected-page-image-wrapper img {
    object-fit: cover;
}
.selected-page-content-wrapper {
    width: 50%;
    height: 500px;
    background-color: white;
    border-right: solid 4px red;
    border-left: solid 4px red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.content-item-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}
.content-title-wrapper {
    color: white;
    font-size: 1.5em;
    padding: 30px;
}
.registration {
    background-color: white;
    height: 100vh;
}